<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000854487729-se0l8putijuthm3ajdmc258aji8u4ea4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000854487729-se0l8putijuthm3ajdmc258aji8u4ea4</string>
	<key>API_KEY</key>
	<string>AIzaSyBJPNwcyiLptavTSd0TSjbPzfQVEv25vts</string>
	<key>GCM_SENDER_ID</key>
	<string>1000854487729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edward.auth-demo-apple</string>
	<key>PROJECT_ID</key>
	<string>auth-demo-apple</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-demo-apple.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000854487729:ios:d5b7a4f0785f0c5e8f9890</string>
</dict>
</plist>